.red_apple{
background-position: 0px 0px;
}
.banana{
  background-position: 0px -100px;
}
.orange{
  background-position: 0px -200px;
}
.green_lemon{
  background-position: 0px -300px;
}
.grenadian{
  background-position: 0px -400px;
}
.peach{
  background-position: 0px -500px;
}
.yellow_lemon{
  background-position: 0px -600px;
}
.Starberry{
  background-position: 0px -700px;
}
.green_apple{
  background-position: 0px -800px;
}
.yellow_peach{
  background-position: 0px -900px;
}
.grape{
  background-position: 0px -1000px;
}
.watermelon{
  background-position: 0px -1100px;
}
.freestone_peach{
  background-position: 0px -1200px;
}
.pinapple{
  background-position: 0px -1300px;
}
.cherry{
  background-position: 0px -1400px;
}
.raspberry{
  background-position: 0px -1500px;
}
.mango{
      background-position: 0px -1600px;
}
.yellow_cherry {
    background-position: 0px -1700px;
}