
/*
  PLATFORM
*/
.platform {
    background-color: #dddcff;
}
/*
    CARDS
*/

.card {
  transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


.picture {
  background-image: url(../images/cards.png);
}

/* hide back of pane during swap */

.hiddens, .picture {
	/* backface-visibility: hidden; */
	position: absolute;
	top: 0;
  left: 0;
}

/* front pane, placed above back */
.hiddens {
	z-index: 2;
	transform: rotateY(0deg);
  background-color:#aaaaaa;
}
.hiddens:hover {
  background-color: #bfbcbc;
  cursor: pointer;
}
/* back, initially hidden pane */
.picture {
	transform: rotateY(180deg);
}
.rotate {
		transform: rotateY(180deg);
}
.win {
		transform: rotateY(180deg);
}

.flip, .hiddens, .picture {
	width: 150px;
	height: 150px;
}


/*
  progressbar
*/

.indic {
    width: 833px;
    background-color: #aaaaaa;
    height: 20px;
    margin: 30px 0px;
}

.progressbar {
    background-color: #ff0000;
    text-align: center;
    color: white;
    font-weight: 500;
    transition: all 1s ease;
}