$class: 'red_apple','banana','orange', 'green_lemon','grenadian', 'peach', 'yellow_lemon','Starberry', 'green_apple'
  , 'yellow_peach', 'grape', 'watermelon', 'freestone_peach', 'pinapple', 'cherry', 'raspberry', 'mango', 'yellow_cherry';
  $position: 0;

  @each $cls in $class {
    $position: $position + 150;
    .#{$cls} {
      background-position: 0px #{$position}px;
      background-size: 100%;
    }
  }